.btn {
    cursor: pointer;
    padding: 2px 5px;
    margin-bottom: 4px;
}

.search {
    padding: 2px;
    background-color: #eee;
    width: 50%;
    display: inline-block;
}

.name {
    width: 100%;
}

td:not(.name) {
    text-align: center;
}
.name span {
    color: #bbbbc5;
}

.name a:hover {
    color: red;
}

.fa-arrow-up {
    color: #090;
}

.fa-arrow-up:hover {
    color: #0F0;
}

.fa-arrow-down {
    color: #900;
}

.fa-arrow-down:hover {
    color: #F00;
}

.block, .task {
    display: none;
}

.fas, far {
    cursor: pointer;
}
.fa:hover {
    color: red;
}

table {
    margin-top: 30px;
}

.addButtons {
    margin: 0 5px;
}
.yes {
    background-color: #a3daa3 !important;
}
.btn, .u-list, .check {
    cursor: pointer;
}
.part {
    background-color: #e1f7e1;
}
.u-list:hover {
    color: red;
}

#foerm-users, #table-courses {
    overflow: hidden;
}

.ulist {
    word-wrap: break-word;
}

.date {
    font-size: 12px;
}

.stat {
    margin-left: 30px;
    color: #8c979c;
}

.stat span{
    color: #d8aeae;
}

.green {
    background-color: green;
    border-color: green;
}
.green:hover {
    background-color: green;
    border-color: green;
}

@media (max-width: 992px) {
    #table-courses td {
        padding: 5px;
    }
}
